{% extends "layout.twig" %}

{% block content %}
    <h1>Add User</h1>

    <div class="alert alert-success">
    	{{ messageResponse }}
    </div>

    <form action="/users/add" method="post" enctype="multipart/form-data">
        <label for="fullname">Full Name:</label>
        <input type="text" name="fullname" /><br/>

        <label for="username">Username:</label>
        <input type="text" name="username" /><br/>

        <label for="email">Email:</label>
        <input type="email" name="email" /><br/>

        <label for="password">Password:</label>
        <input type="password" name="password" /><br/>

        <button type="submit">Save</button>
    </form>
{% endblock %}